@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* styles/fonts.css */
@font-face {
  font-family: "Valky";
  src: url("/fonts/valky/TTF/ValkyRegular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AntroVectra";
  src: url("/fonts/Antro_Vectra_Font_Family_(Fontmirror)/AntroVectra 400.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bremenoff Book";
  src: url("/fonts/bremenoff/Bremenoff Book.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumlien";
  src: url("/fonts/Kumlien/Kumlien.woff2") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Goudy";
  src: url("/fonts/goudy/Goudy.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo-title {
  font-family: "Valky", sans-serif;
}

.bremenoff-book-400 {
  font-family: "Bremenoff Book", sans-serif;
  font-weight: 400;
}
.work-sans-400 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.work-sans-500 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500; 
}


.kumlien-400 {
  font-family: "Kumlien", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-variation-settings: normal;
  font-feature-settings: normal;
  text-decoration: none solid;
  text-indent: 0px;
}

.antro-vectra-400 {
  font-family: "AntroVectra", sans-serif;
  font-weight: 400;
} 

.goudy-400 {
  font-family: "Goudy", sans-serif;
  font-weight: 400;
}

.goudy-300 {
  font-family: "Goudy", sans-serif;
  font-weight: 300;
}

